@font-face {
  font-family: kalameh;
  src: url(./KalamehWeb_Black.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: kalameh;
  background-color: #e9e8ee;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 55px;
  background-color: #e9e8ee;
  border-radius: 29px;
  box-shadow: 3px 3px 5px #d6d5db, -3px -3px 5px #fcfbff;
  color: rgb(65, 0, 126);
  text-align: center;
  font-size: 1.2rem;
  user-select: none;
  transition: 0.25;
  position: relative;
  cursor: pointer;
  padding-right: 10px;
}
.icon {
  font-size: 22px;
  position: absolute;
  left: 50%;
  right: 12%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}
.btn span {
  transition: 0.25s;
  clip-path: circle(200px at 125px 27.5px);
}
.btn:hover span {
  cursor: pointer;
  opacity: 0.8;
  clip-path: circle(0px at 125px 27.5px);
}
.btn:hover .icon {
  right: 40%;
}
